// $brand-fill: #D53A4C;
// $light-background: #FFFFFF;
@import './global';

.Page404 {
    &-Body {
        background-color: #E5E5E5;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        &-Content {
            display: flex; 
            align-items: center; 
            justify-content: center; 
            text-align: center; 
            flex-grow: 1;
            &-Header {
                font-size: 100px;
                font-weight: 600;
            }
            &-Details {
                font-size: 16px;
                font-weight: 600;
            }
            &-Button button{
                margin-top: 30px;
                padding: 10px 20px;
                background: #D43A4C;
                border-radius: 4px;
                color: #FFFFFF;
            }
        }
    }   
}