.PersonalLoanApplication {

    &-Body {
        &-Content {
            width: 100%;
            overflow: auto;
            &-Card {
                &-Details {
                    font-size: 0.9rem;
                    padding-top: 10px;
                }
            }
            &-Forms {             
                width: 100%;   
                padding-top: 20px;
            }
            &-Next {
                width: 40px;
                height: 40px;
                background: linear-gradient(90.54deg, #F25767 0%, #D83445 100%);
                border-radius: 50%;
                position: absolute;
                bottom: 50px;
                right: 60px;
                z-index: 1000;
            }
        }
    }
}