@import './global';

//Janessa
.SiteBlogList {
	&-Page {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		overflow: auto;
	}
	
	&-Body {
		width: 100%;
		margin-top: 50px;
		&-Section {

			&-Button {
				text-align: center;
				margin-bottom: 50px;

				&-RedButton {
					color: #FFFFFF;
					background-color: #F53945;
					padding: 10px 20px;
					border-radius: 4px;
					
				}
			}

		}

		&-Content {
			padding-top: 30px;

			&-CardDesc {
				box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
				background: #FFFFFF;
				margin-top: -5px;

				&-Inner {
					padding: 25px;
				}
			}

			&-ImageContainer {
				position: relative;
				&-Description {
					position: absolute;
					width: 124px;
					height: 36px;
					top: 0;
					background: #F53945;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #FFF;
					text-transform: uppercase;
				}
			}
			
			&-1Cards {

				flex-flow: row wrap;
				padding: 0;
				margin: 0;
				list-style: none;
				
				-ms-box-orient: horizontal;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -moz-flex;
				display: -webkit-flex;
				display: flex;
				margin-bottom: 40px;


				img {
					height: 196px;
					width: 1114px;
					object-fit: cover;
					
					@media only screen and (max-width: 768px) {
						height: 196px;
						width: 354px;
					}
				}


				&-Card {
					width: 1114px;
					border-radius: 6px;
					overflow: hidden;
					position: relative;
				}
			}

			&-2Cards {

				flex-flow: row wrap;
				padding: 0;
				margin: 0;
				list-style: none;
				
				-ms-box-orient: horizontal;
				display: flex;
				margin-bottom: 40px;
				box-shadow: $box-shadow;


				img {
					height: 196px;
					width: 548px;
					object-fit: cover;
					
					@media only screen and (max-width: 768px) {
						height: 196px;
						width: 354px;
					}
				}


				&-Card {
					width: 548px;
					border-radius: 6px;
					overflow: hidden;
					position: relative;
				}
			}

			&-3Cards {

				flex-flow: row wrap;
				padding: 0;
				margin: 0;
				list-style: none;
				
				-ms-box-orient: horizontal;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -moz-flex;
				display: -webkit-flex;
				display: flex;
				margin-bottom: 40px;

				img {
					height: 196px;
					width: 354px;
					object-fit: cover;
				}
				
				&-Card {
					width: 354px;
					border-radius: 6px;
					overflow: hidden;
					position: relative;
				}
			}

			&-Topic {
				font-size: 0.8rem;
				text-transform: uppercase;
				color: $brand-fill;
			}
			&-Title {
				font-size: 1.3rem;
				font-weight: 600;
			}
			&-Description {
				font-size: 1rem;
			}
			&-Date {
				margin-top: 20px;
				font-size: 0.8rem;
				color: $text-light;
			}
		}
		
	}
}