@import './global';

//Janessa
.SiteBlogArticle {
	&-Related-Articles{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	&-Body {
		// width: 100%;
		flex-grow: 1;
		display: flex;
		flex-flow: column wrap;
		background-color: $light-background;
		align-items: center;
		&-Searchbar {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			padding: 10px 50px;
			width: 100%;
			& > button {
				background: white;
				padding: 10px 30px;
				box-shadow: $box-shadow;
				border-radius: 4px;
				margin-left: 15px;
			}
		}
		&-Content {
			flex-grow: 1;
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			width: clamp(300px, 100%, 1200px);
			padding: 50px 1rem;
			border-bottom: 1px solid $base-background;
			&-Title {
				display: flex;
				flex-flow: column wrap;
				align-items: center;
				p {
					text-align: center;
				}
				span {
					color: #26A8ED;
					text-transform: uppercase;
				}

				&-Name {
					font-size: 3rem;
					font-weight: 600;
				}
				&-Desc {
					font-size: 1rem;
					color: $text-light;
					max-width: 70ch;
				}
			}

			&-Thumbnail {
				width: 100%;
				height: auto;
				margin: 3rem 0px;
				img {
					width: 100%;
					height: auto;
					object-fit: cover;
				}
			}
			&-View {
				& > div {
					display: flex;
					flex-flow: column wrap;
					align-items: center;
				}
				br {
					margin-bottom: 1.5rem;
				}
				img {
					height: auto;
					object-fit: cover;
					margin: 3rem 0px;
				}
				.img-small {
					width: clamp(300px, 80%, 1200px);
				}
				.img-big {
					width: 100%;
				}
			}
			&-Meta {
				display: flex;
				flex-flow: row wrap;
				margin-top: 50px;
				width: 100%;
				& > p {
					flex-grow: 1;
					color: $text-light;
				}
				span {
					color: black;
					font-weight: 600;
				}
			}
		}
	}
}