//Janessa
.SiteBlogList {
	
	&-Body {
		width: calc(100% - 50px);
		margin-top: 150px;
		&-Section {

			&-Button {
				text-align: center;
				margin-bottom: 50px;

				&-RedButton {
					color: #FFFFFF;
					background-color: #F53945;
					padding: 10px 20px;
					border-radius: 4px;
					
				}
			}

		}

		&-Content {
			padding-top: 30px;

			&-CardDesc {
				box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				background: #FFFFFF;
				margin-top: -5px;

				&-Inner {
					padding: 25px;
				}
			}

			&-ImageContainer {
				position: relative;
				&-Description {
					position: absolute;
					width: 124px;
					height: 36px;
					top: 0;
					border-top-left-radius: 10px;
					background: #F53945;
					text-align: center;
					vertical-align: middle;
					div{ 
						vertical-align: middle;
						color: #FFF;
						padding: 12px;
					}
				}
			}
			
			&-1Cards {

				flex-flow: row wrap;
				padding: 0;
				margin: 0;
				list-style: none;
				
				-ms-box-orient: horizontal;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -moz-flex;
				display: -webkit-flex;
				display: flex;
				margin-bottom: 40px;


				img {
					height: 196px;
					width: 1114px;
					object-fit: cover;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					
					@media only screen and (max-width: 768px) {
						height: 196px;
						width: 354px;
					}
				}


				&-Card {
					width: 1114px;
				}
			}

			&-2Cards {

				flex-flow: row wrap;
				padding: 0;
				margin: 0;
				list-style: none;
				
				-ms-box-orient: horizontal;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -moz-flex;
				display: -webkit-flex;
				display: flex;
				margin-bottom: 40px;


				img {
					height: 196px;
					width: 548px;
					object-fit: cover;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					
					@media only screen and (max-width: 768px) {
						height: 196px;
						width: 354px;
					}
				}


				&-Card {
					width: 548px;
				}
			}

			&-3Cards {

				flex-flow: row wrap;
				padding: 0;
				margin: 0;
				list-style: none;
				
				-ms-box-orient: horizontal;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -moz-flex;
				display: -webkit-flex;
				display: flex;
				margin-bottom: 40px;

				img {
					height: 196px;
					width: 354px;
					object-fit: cover;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
				
				&-Card {
					width: 354px;
				}
			}
		}
		
	}
}