// Default root setting
:root {
  // Root measurement adjustment
  font-size: 16px;

  // Dimension adjustment
  --sidebar-width: 50px;
  --button-area-height: 65px;
  --icon-button-dimension: 40px;
  --dialog-input-height-min: 65px;
  --dialog-input-height-max: 155px;
  --avatar-dimension: 90px;
  --layout-sidebar-adjustment: 0px;
  --mobile-menu-button-translation: 20px;
  --mobile-chatbox-button: 50px;
  --mobile-chatbox-button-translation: 20px;
  --checkbox-indicator-dimension: 30px;
  --imageselect-image-dimension: 5ch;
  --tabbar-proceed-dimension: 40px;

  // Theme color adjustment
  --brand-fill: #D53A4C;
  --brand-fill-test: #D53A4C66;
  --brand-gradient: linear-gradient(90.54deg, #F25767 0%, #D83445 100%);
  --light-background: #FFFFFF;
  --base-background: #E5E5E5;
  --text-dark: #707C97;
  --text-light: rgba(112, 124, 151, 0.7);
  --shadow: rgba(32, 32, 32, 0.08);
  --breakline: rgba(112, 124, 151, 0.15);
  --icon-light: white;
  --icon-dark: rgba(112, 124, 151, 0.5);
  --input-label: rgba(17, 17, 17, 0.48);
  --chat-bubble-bot: var(--brand-gradient);
  --chat-bubble-bot-tail: #F15666;
  --chat-bubble-user: white;
  --chat-bubble-user-border: rgba(112, 124, 151, 0.25);
  --chat-bubble-user-tail: var(--chat-bubble-user-border);
  --dropdown-hover: #F1F1F1;
  --inactive: var(--input-label);
  --imageselect-background: #F7F7FA;
  --slider-track: var(--base-background);
  --slider-thumb: #CF1A2D;
  --slider-track-between: #F25767;

  // Theme standardisation
  --box-shadow: 0 4px 10px var(--shadow);
  --selected-box-shadow: 0 0 10px var(--brand-fill-test);
  --dropdown-shadow: 0px 4px 4px rgba(51, 51, 51, 0.15);
  --imageselect-border: 2px dashed rgba(112, 124, 151, 0.25);
  --imageselect-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05);
  --imageselect-border-active: 2px solid var(--brand-fill);
}

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Proxima Nova, Helvetica, sans-serif;
  scrollbar-color: transparent transparent;
  transition: all 0.1s ease-in-out;
  &::-webkit-scrollbar {
    width: 0px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--brand-fill);
    box-shadow: inset 0 0 10px var(--brand-fill);
    border-radius: 200px;
  }
  &:hover {
    scrollbar-color: var(--brand-fill) transparent;
    transition: all 0.1s ease-in-out;
    &::-webkit-scrollbar {
      width: 6px;
    }
  }
  &::placeholder {
    color: var(--text-light);
  }
}

input {
  background: none;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

// Adjustment for button styling (global)
.Button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  &:hover {
    .Icon-Rotate {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }
  &:disabled {
    background: var(--base-background);
    box-shadow: none;
    cursor: default;
    transition: all 0.2s ease-in-out;
    // transition-property: background-color, box-shadow, background;
  }
  &-FitContent {
    width: fit-content;
    height: fit-content;
    padding: 15px 25px;
    background-color: var(--brand-fill);
    color: var(--light-background);
    box-shadow: 0 4px 10px -3px var(--brand-fill);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    transition-property: background-color, box-shadow, opacity;
    &:hover {
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;
    }
  }
  &-Full {
    width: 100%;
    height: 100%;
    background-color: var(--brand-fill);
    color: var(--light-background);
    border-radius: 4px;
    box-shadow: 0 4px 10px -3px var(--brand-fill);
    transition: all 0.2s ease-in-out;
    filter: brightness(1);
    transition-property: background-color, box-shadow, opacity, filter;
    &:hover {
      // opacity: 0.8;
      filter: brightness(1.1);
      transition: opacity 0.2s ease-in-out;
    }
  }
  &-Hamburger {
    background-color: inherit;
    width: var(--sidebar-width);
    height: var(--sidebar-width);
  }
  // &-Send {
  //   &:hover {
  //     .Icon-Send {

  //     }
  //   }
  // }
}

.Icon {
  &-Rotate {
    transition: transform 0.2s ease-in-out;
  }
  &-Light {
    color: var(--icon-light);
  }
  &-Dark {
    color: var(--icon-dark);
  }
  &-Hamburger {
    width: 45%;
    height: 45%;
  }
  &-Add, &-Audible, &-Smiley {
    width: 60%;
    height: 60%;
  }
  &-Down {
    width: 80%;
    height: 80%;
  }
  &-Close {
    width: 95%;
    height: 95%;
  }
  &-Check {
    width: 100%;
    height: 100%;
  }
  &-AddIncome {
    width: 90%;
    height: 90%;
  }
  &-Proceed {
    width: 60%;
    height: 60%;
  }
  &-TransferTo {
    width: 70%;
    height: 70%;
    color: var(--brand-fill) !important;
  }
}

.Input {
  &Box {
    &-Container {
      background-color: var(--light-background);
      box-shadow: var(--box-shadow);
      margin-bottom: 20px;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      transition: box-shadow 0.3s ease-in-out;
      border-radius: 4px;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        font-size: 1rem;
        width: 100%;
      }
    }
    &-Label {
      font-size: 0.8rem;
      margin-bottom: 5px;
      color: var(--input-label);
    }
    &-InputArea {
      display: flex;
      flex-direction: row;
    }
    &-Currency {
      margin-right: 0.6rem;
      font-size: 1rem;
    }
  }
  &Dropdown {
    &-Wrapper {
      width: 100%;
      position: relative;
    }
    &-Container {
      position: relative;
      cursor: pointer;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      z-index: 20;
    }
    &-Thumb {
      width: 100%;
    }
    &-Action {
      width: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &-Button {
      background: transparent;
      width: 35px;
      height: 35px;
    }
    &-List {
      position: absolute;
      display: flex;
      width: inherit;
      flex-flow: column wrap;
      height: fit-content;
      background: white;
      top: calc(100% + 10px);
      border-radius: 4px;
      box-shadow: var(--dropdown-shadow);
      overflow: hidden;
      padding: 5px 0;
      z-index: 21;
      max-height: 50vh;
      overflow: auto;
      ul {
        list-style: none;
      }
      li {
        padding: 15px;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
          background-color: var(--dropdown-hover);
        }
      }
      &[data-show=true] {
        opacity: 1;
        transition: all 0.1s ease-in-out;
      }
      &[data-show=false] {
        pointer-events: none;
        opacity: 0;
        top: 0;
        transition: all 0.1s ease-in-out;
      }
    }
    &-NoData {
      cursor: not-allowed;
      color: var(--text-light);
      &:hover {
        background-color: transparent !important;
        cursor: not-allowed;
      }
    }
  }
}

.RangeSlider {
  &-Wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-Item {
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
  }
  &-Thumb {
    width: 8px;
    height: 100%;
    background: var(--slider-thumb);
    border-radius: 8px;
    &:hover {
      transform: scaleY(1.5) scaleX(1.2);
    }
  }
  &-Track {
    height: 60%;
    background: var(--slider-track);
    &-0 {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    &-1 {
      background: var(--slider-track-between);
    }
    &-2 {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}

// Remove arrows for input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// @keyframes {
//   0% {
//     transform: 
//   }
// }

// Adjustment for main layout
.AIVI {
  &-Page {
    width: 100vw;
    height: 100vh;
    background-color: var(--base-background);
    display: flex;
    flex-flow: row wrap;
  }
  
  &-Sidebar {
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--brand-fill);
  }

  &-Body {
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  &-Chatbox {
    height: 100%;
    width: 55%;
    padding: 35px;
    &-Mobile {
      &-Model {
        display: none;
      }
      &-Button {
        display: none;
      }
    }
  }

  &-Leftbox {
    height: 100%;
    width: 45%;
    background-color: var(--light-background);
    padding: 50px 35px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    overflow: hidden;
  }
}

// Adjustment for chatbox
.Chatbox {
  &-Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
  }
  &-Avatar {
    width: var(--avatar-dimension);
    height: var(--avatar-dimension);
    border-radius: 50%;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: var(--light-background);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-Box {
    width: 100%;
    height: calc(100% - var(--avatar-dimension));
    background-color: var(--light-background);
    box-shadow: var(--box-shadow);
    border-radius: 2px;
    position: relative;
    top: calc((var(--avatar-dimension) / 2) * -1);
    padding: var(--avatar-dimension) 20px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  &-Dialog {
    height: calc(100% - var(--dialog-input-height) - 15px);
    margin-bottom: 10px;
    overflow: auto;
    padding: 0 20px;
  }
  &-Input {
    height: fit-content;
    min-height: var(--dialog-input-height-min);
    max-height: var(--dialog-input-height-max);
    border-top: 1px solid var(--breakline);
    display: flex;
    align-items: center;
    padding: 10px 0;

    &-UploadOptions, &-Send, &-Audible, &-Smiley {
      width: var(--icon-button-dimension);
      height: var(--icon-button-dimension);
      background: var(--brand-gradient);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    &-Audible, &-Smiley {
      background: none;
    }
    &-Send, &-Audible {
      margin-right: 0;
    }
    &-InputBox {
      font-size: 1rem;
      width: calc(100% - (3 * var(--icon-button-dimension)) - 20px);
      border: none;
      padding: 10px 15px;
      border-radius: 2rem;
      margin-right: 10px;
      resize: none;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: normal;
      &:focus {
        box-shadow: 0 0 4px var(--brand-fill-test);
      }
    }
  }
}

// Adjustment for leftbox
.Leftbox {
  &-Submitted {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    p {
      font-size: 1.1rem;
      font-weight: 700;
      color: var(--text-dark);
      text-align: center;
    }
    img {
      margin: 30px 0;
    }
  }
}

.AIVIForm {
  &-Content {
    height: 20px;
    overflow: auto;
    height: calc(100% - var(--button-area-height));
    width: 100%;
  }
  &-Button {
    height: var(--button-area-height);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-Title {
    font-size: 1rem;
    color: var(--text-dark);
    margin-bottom: 20px;
    font-weight: 700;
  }
  &-Description {
    font-size: 0.85rem;
    line-height: 1.3rem;
    color: var(--text-dark);
  }
  &-Details {
    font-size: 0.85rem;
    padding: 20px 10px;
    max-height: calc(100% - 120px);
  }
}

.CreditCard {
  &-Content {
    height: 20px;
    overflow: auto;
    height: calc(100% - var(--button-area-height));
    width: 100%;
  }
  &-Button {
    height: var(--button-area-height);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Expenses {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0px 15px;
  &-SelectWrapper {
    width: 100%;
    max-width: 500px;
  }
  &-Proceed {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    justify-content: space-around;
    button {
      text-align: center;
      background-color: var(--light-background);
      border: none;
      color: var(--text-dark);
      box-shadow: var(--box-shadow), inset 0px 0px 2px var(--text-dark);
      padding: 5px 15px;
      border-radius: 30px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:disabled {
        opacity: 0.6;
        box-shadow: var(--box-shadow);
        transition: all 0.3s ease-in-out;
        cursor: not-allowed;
      }
    }
  }
}

.ExpenseDetails {
  &-Wrapper {
    // background: burlywood;
    width: 100%;
    margin-bottom: 30px;
  }
  &-Title {
    font-size: 1rem;
    color: var(--text-dark);
    margin-bottom: 10px;
  }
  &-Container {
    background: var(--light-background);
    border: var(--imageselect-border);
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    box-shadow: var(--imageselect-shadow);
  }
  &-Item {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &-Input {
    padding: 10px;
    width: 8ch;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    text-align: center;
  }
  &-Label {
    font-size: 0.8rem;
    color: var(--text-dark);
    margin-bottom: 5px;
  }
  &-Slider {
    width: calc(100% - 16ch - 40px - 40px);
  }
}

.MonthlyIncome {
  &-Wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
  }
  &-Container {
    margin-bottom: 40px;
  }
  &-SectionHeader {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  &-SectionTitle {
    font-size: 0.85rem;
    font-weight: 600;
    margin-right: 10px;
    padding-left: 15px;
  }
  &-Action {
    // background: burlywood;
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
  }
  &-AddButton {
    color: var(--text-dark);
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--light-background);
    border: var(--imageselect-border);
    box-shadow: var(--imageselect-shadow);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus {
      border: var(--imageselect-border);
  box-shadow: 0px 0px 7px var(--brand-fill-test);
    }
    svg {
      transform: rotate(0deg);
      transition: transform 0.15s ease-in-out;
    }
    &:hover svg {
      transform: rotate(90deg);
      transition: transform 0.15s ease-in-out;
    }
  }
}

.BalanceTransfer {
  &-DualDropdown {
    &-Wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-Item {
      width: 44%;
    }
    &-Arrow {
      width: 50px;
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.TabBar {
  &-Header {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    list-style: none;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    overflow: auto;
    scrollbar-color: transparent transparent !important;
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: var(--light-background);
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      padding: 15px 5px;
      font-size: 0.9rem;
      width: 15ch;
      cursor: pointer;
      height: fit-content;
      color: var(--inactive);
      transition: all 0.2s ease-in-out;
      flex-shrink: 0;
      &[data-active=true] {
        // border-bottom: 2px inset var(--brand-fill);
        box-shadow: inset 0px -3px 0px 0px var(--brand-fill);
        color: black;
        transition: all 0.2s ease-in-out;
      }
      &[data-enabled=true] {
        color: black;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-Body {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
    overflow: hidden;
    &-Item {
      width: 100%;
      flex-shrink: 0;
      padding: 5px;
      overflow: auto;
      margin-right: 100px;
    }
  }
  &-ProgressAction {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 20px;
    &-Proceed {
      background-color: var(--brand-fill);
      height: var(--tabbar-proceed-dimension);
      width: var(--tabbar-proceed-dimension);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      margin-left: auto;
      &:hover {
        svg {
          animation: tabbar-proceed-hover 1s infinite ease-in-out;
        }
      }
      // &:focus {
      //   border: none;
      //   outline: none;
      // }
    }
  }
}

.Checkbox {
  &-Multiple {
    display: flex;
    flex-flow: row wrap;
  }
  &-Container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    cursor: pointer;
    color: var(--text-light);
    height: 100%;
    &[data-rows="1"] {
      width: 100%;
      margin-bottom: 20px;
    }
    &[data-rows="2"] {
      width: 40%;
      &:nth-child(2n-1) {
        margin-right: 8%;
        margin-bottom: 20px;
      }
    }
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &-Indicator {
    width: var(--checkbox-indicator-dimension);
    height: var(--checkbox-indicator-dimension);
    // background: burlywood;
    margin-right: 15px;
    border-radius: calc(var(--checkbox-indicator-dimension) / 5);
    // border: 1px solid var(--base-background);
    box-shadow: inset 0px 0px 0px 1px var(--base-background);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-in-out;
  }
  &-Container:hover {
    color: var(--text-dark);
    .Checkbox {
      &-Indicator {
        box-shadow: inset 0px 0px 0px 1px var(--text-light);
        transition: all 0.15s ease-in-out;
      }
    }
  }
  &-Container[data-active=true] {
    // background: burlywood;
    color: black;
    .Checkbox {
      &-Indicator {
        background-color: var(--brand-fill);
        box-shadow: none;
        transition: all 0.15s ease-in-out;
      }
    }
    .Icon {
      animation: tick-zoom 0.3s ease-in-out;
    }
  }
  &-Limit {
    margin-top: 10px;
    color: var(--text-light);
  }
}

.ImageSelect {
  &-Multiple {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    // height: max-content;
    width: max-content;
    max-width: 100%;
    justify-content: center;
  }
  &-Wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.85rem;
    color: var(--text-dark);
    width: 14ch;
    height: 120px;
    background: var(--light-background);
    border: var(--imageselect-border);
    border-radius: 10px;
    box-shadow: var(--imageselect-shadow);
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    // &:nth-child(3n) {
    //   margin-right: 0;
    // }
    // &:nth-child(3n-2) {
    //   margin-bottom: 15px;
    // }
    &:hover {
      .ImageSelect {
        &-ImageContainer {
          img {
            animation: imageselect-image-hover 1s ease-in-out;
          }
        }
      }
    }
    &[data-active=true] {
      border: var(--imageselect-border-active);
      .ImageSelect {
        &-ImageContainer {
          background-color: var(--brand-fill);
          transition: background-color 0.3s ease-in-out;
          img {
            filter: grayscale(100%) brightness(1.9);
            transition: filter 0.3s ease-in-out;
          }
        }
      }
    }
  }
  &-ImageContainer {
    width: var(--imageselect-image-dimension);
    height: var(--imageselect-image-dimension);
    object-fit: contain;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--imageselect-background);
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 7px;
  }
  &-Label { 
    font-size: 0.85rem;
    text-align: center;
  }
}

.ToggleText {
  &-Container {
    ul {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      overflow: hidden;
      border: 1px solid var(--text-light);
      border-radius: 1rem;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem 0px;
      font-size: 0.7rem;
      width: 14ch;
      text-align: center;
      border-right: 1px solid var(--text-light);
      cursor: pointer;
      &:last-child {
        border-right: none;
      }
      &[data-active=true] {
        color: var(--brand-fill);
        font-weight: 600;
      }
      &[data-active=false] {
        color: var(--text-light);
        font-weight: 400;
      }
    }
  }
}

.ChecklistBox {
  &-Container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    // border: var(--imageselect-border);
    margin-bottom: 20px;
    background-color: var(--light-background);
    box-shadow: var(--box-shadow);
    // box-shadow: var(--imageselect-shadow);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    &-New {
      border: var(--imageselect-border);
      box-shadow: var(--imageselect-shadow);
    }
  }
  &-Checkbox {
    width: 30px;
    height: 30px;
    border-radius: 0.4rem;
    margin-right: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &[data-checked=true] {
      background-color: var(--brand-fill);
      .Icon {
        animation: tick-zoom 0.3s ease-in-out;
      }
    }
    &[data-checked=false] {
      background-color: var(--light-background);
      box-shadow: 0px 0px 0px 2px var(--base-background);
    }
  }
  &-Label {
    color: var(--text-light);
    font-weight: 300;
    // background: var(--brand-fill-test);
    padding: 11px 15px;
    width: 40%;
  }
  &-Amount {
    border: 1px solid var(--text-light);
    border-radius: 0.4rem;
    padding: 10px 15px;
    width: 40%;
    margin-left: auto;
    color: var(--text-dark);
    display: flex;
    justify-content: space-between;
    input {
      width: calc(100% - 4ch);
      color: var(--text-dark);
    }
  }
}

// Adjustment for dialog
.Dialog {
  &-Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    &[data-side='right'] {
      text-align: right;
      align-items: flex-end;
      div {
        border-radius: 8px 0px 8px 8px;
        background: var(--chat-bubble-user);
        border: 1px solid var(--chat-bubble-user-border);
        color: var(--text-dark);
        &:before {
          right: -10px;
          border-color: var(--chat-bubble-user-tail) transparent transparent transparent;
          border-width: 10px 10px 0 0;
        }
      }
    }
    &[data-side='left'] {
      text-align: left;
      align-items: flex-start;
      div {
        border-radius: 0 8px 8px;
        background: var(--chat-bubble-bot);
        color: white;
        &:before {
          left: -10px;
          border-color: transparent var(--chat-bubble-bot-tail) transparent transparent;
          border-width: 0 10px 10px 0;
        }
      }
    }
  }
  &-Bubble {
    max-width: 80%;
    // width: 90%;
    padding: 10px 20px;
    border-radius: 0 8px 8px;
    line-height: 1.5rem;
    margin-bottom: 5px;
    &:before {
      content: '';
      display: flex;
      // width: 10px;
      // height: 10px;
      border-style: solid;
      position: absolute;
      // background: burlywood;
      top: 0px;
    }
    p {
      font-size: 1rem;
    }
  }
  &-Timestamp {
    font-size: 0.6rem;
    margin: 0 10px;
    color: var(--text-light);
  }
}

.Temporary {
  &-ChangeRender {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 10px 25px;
    background: var(--brand-fill);
    border: none;
    border-radius: 50px;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    z-index: 10000;
  }
  &-Sections {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    // &[data-visible="true"] {
    //   display: flex;
    // }
    &[data-visible="false"] {
      display: none;
    }
    ul {
      list-style: none;
    }
    li {
      background: var(--brand-fill);
      padding: 10px 25px;
      margin-bottom: 10px;
      color: white;
      border-radius: 50px;
      cursor: pointer;
    }
  }
}

@media  (max-width: 900px) {
  :root {
    // Root measurement adjustment
    font-size: 14px;

    // Dimension adjustment
    --sidebar-width: 40px;
    --button-area-height: 65px;
    --icon-button-dimension: 40px;
    --dialog-input-height: 65px;
    --avatar-dimension: 90px;
    --layout-sidebar-adjustment: 50px;
    --mobile-menu-button-translation: 15px;

    // Theme color adjustment
    --brand-fill: #D53A4C;
    --brand-fill-test: #D53A4C66;
    --brand-gradient: linear-gradient(90.54deg, #F25767 0%, #D83445 100%);
    --light-background: #FFFFFF;
    --base-background: #E5E5E5;
    --text-dark: #707C97;
    --text-light: rgba(112, 124, 151, 0.7);
    --shadow: rgba(32, 32, 32, 0.08);
    --breakline: rgba(112, 124, 151, 0.15);
    --icon-light: white;
    --icon-dark: rgba(112, 124, 151, 0.5);
    --input-label: rgba(17, 17, 17, 0.48);

    // Theme standardisation
    --box-shadow: 0 4px 10px var(--shadow);
    --selected-box-shadow: 0 0 10px var(--brand-fill-test);
  }

  .AIVI {
    &-Sidebar {
      height: var(--sidebar-width);
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: var(--mobile-menu-button-translation);
      left: var(--mobile-menu-button-translation);
      z-index: 20;
    }
    &-Body {
      width: 100%;
    }
    &-Chatbox {
      display: none;
      &-Mobile {
        &-Show {
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
          .Chatbox-Container {
            top: 0;
            transition: top 0.3s ease-in-out;
          }
        }
        &-Hide {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          pointer-events: none;
          .Chatbox-Container {
            top: 100px;
            transition: top 0.3s ease-in-out;
          }
        }
        &-Model {
          display: flex;
          position: absolute;
          width: 100vw;
          height: 100vh;
          background: rgba(217, 217, 217, 0.6);
          backdrop-filter: blur(3px);
          z-index: 99;
          padding: 30px 20px;
          overflow: hidden;
        }
        &-Button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--brand-gradient);
          width: var(--mobile-chatbox-button);
          height: var(--mobile-chatbox-button);
          color: white;
          position: absolute;
          bottom: var(--mobile-chatbox-button-translation);
          left: var(--mobile-chatbox-button-translation);
          border-radius: 50%;
          z-index: 100;
          // border: 10px solid white;
        }
      }
    }
    &-Leftbox {
      width: 100%;
      padding: 75px 30px;
    }
  }

  .Leftbox {
    &-Submitted {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@keyframes imageselect-image-hover {
  0% { transform: rotate(0deg) scale(1) }
  10% { transform: rotate(-15deg) scale(1.2) }
  20% { transform: rotate(15deg) scale(1.2) }
  30% { transform: rotate(-15deg) scale(1.2) }
  40% { transform: rotate(15deg) scale(1.2) }
  50% { transform: rotate(0deg) scale(1) }
}

@keyframes tabbar-proceed-hover {
  0% { transform: translateX(0px) }
  10% { transform: translateX(2px) }
  20% { transform: translateX(2px) }
  30% { transform: translateX(0px) }
  40% { transform: translateX(0px) }
  50% { transform: translateX(2px) }
  60% { transform: translateX(2px) }
  80% { transform: translateX(2px) }
  100% { transform: translateX(0px) }
}

@keyframes tick-zoom {
  0% { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}