// Dimension adjustment
$sidebar-width: 50px;
$button-area-height: 65px;
$icon-button-dimension: 40px;
$dialog-input-height: 65px;
$avatar-dimension: 90px;
$layout-sidebar-adjustment: 0px;
$mobile-menu-button-translation: 20px;
$mobile-chatbox-button: 50px;
$mobile-chatbox-button-translation: 20px;
$checkbox-indicator-dimension: 30px;
$imageselect-image-dimension: 5ch;
$tabbar-proceed-dimension: 40px;
$menu-padding: 1rem 3rem;
$result-bottomContent: 5rem;

// Theme color adjustment
$brand-fill: #D53A4C;
$brand-fill-test: #D53A4C66;
$brand-gradient: linear-gradient(90.54deg, #F25767 0%, #D83445 100%);
$light-background: #FFFFFF;
$base-background: #E5E5E5;
$text-dark: #707C97;
$text-light: rgba(112, 124, 151, 0.7);
$shadow: rgba(32, 32, 32, 0.08);
$breakline: rgba(112, 124, 151, 0.15);
$icon-light: white;
$icon-dark: rgba(112, 124, 151, 0.5);
$input-label: rgba(17, 17, 17, 0.48);
$chat-bubble-bot: $brand-gradient;
$chat-bubble-bot-tail: #F15666;
$chat-bubble-user: white;
$chat-bubble-user-border: rgba(112, 124, 151, 0.25);
$chat-bubble-user-tail: $chat-bubble-user-border;
$dropdown-hover: #F1F1F1;
$inactive: $input-label;
$imageselect-background: #F7F7FA;
$slider-track: $base-background;
$slider-thumb: #CF1A2D;
$slider-track-between: #F25767;
$darken-background: rgba(0, 0, 0, 0.3);

// Theme standardisation
$box-shadow: 0 4px 10px $shadow;
$selected-box-shadow: 0 0 10px $brand-fill-test;
$dropdown-shadow: 0px 4px 4px rgba(51, 51, 51, 0.15);
$imageselect-border: 2px dashed rgba(112, 124, 151, 0.25);
$imageselect-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05);
$imageselect-border-active: 2px solid $brand-fill;

// Default root setting
:root {
  // Root measurement adjustment
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Proxima Nova, Helvetica, sans-serif;
  scrollbar-width: 5px;
  scrollbar-color: transparent transparent;
  transition: all 0.1s ease-in-out;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    position: fixed;
  }
  &::-webkit-scrollbar-track {

  }
  &::-webkit-scrollbar-thumb {
    background-color: $brand-fill;
    border-radius: 6px;
  }
  &:hover {
    scrollbar-color: $brand-fill transparent;
    transition: all 0.1s ease-in-out;
    &::-webkit-scrollbar-thumb {
    }
  }
  &::placeholder {
    color: $text-light;
  }
}

input {
  background: none;
  outline: none;
  border: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

// Adjustment for button styling (global)
.Button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  &:hover {
    .Icon-Rotate {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }
  &:disabled {
    background: $base-background;
    box-shadow: none;
    cursor: default;
    transition: all 0.2s ease-in-out;
    // transition-property: background-color, box-shadow, background;
  }
  &-FitContent {
    width: fit-content;
    height: fit-content;
    padding: 15px 25px;
    background-color: $brand-fill;
    color: $light-background;
    box-shadow: 0 4px 10px -3px $brand-fill;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    transition-property: background-color, box-shadow, opacity;
    &:hover {
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;
    }
  }
  &-Full {
    width: 100%;
    height: 100%;
    background-color: $brand-fill;
    color: $light-background;
    border-radius: 4px;
    box-shadow: 0 4px 10px -3px $brand-fill;
    transition: all 0.2s ease-in-out;
    filter: brightness(1);
    transition-property: background-color, box-shadow, opacity, filter;
    &:hover {
      // opacity: 0.8;
      filter: brightness(1.1);
      transition: opacity 0.2s ease-in-out;
    }
  }
  &-Hamburger {
    background-color: inherit;
    width: $sidebar-width;
    height: $sidebar-width;
  }
  // &-Send {
  //   &:hover {
  //     .Icon-Send {

  //     }
  //   }
  // }
}

.Icon {
  &-Rotate {
    transition: transform 0.2s ease-in-out;
  }
  &-Light {
    color: $icon-light;
  }
  &-Dark {
    color: $icon-dark;
  }
  &-Black {
    color: black;
  }
  &-Brand {
    color: $brand-fill;
  }
  &-Hamburger {
    width: 45%;
    height: 45%;
  }
  &-Add, &-Audible, &-Smiley {
    width: 70%;
    height: 70%;
  }
  &-Down {
    width: 80%;
    height: 80%;
  }
  &-Close {
    width: 95%;
    height: 95%;
  }
  &-Check {
    width: 100%;
    height: 100%;
  }
  &-AddIncome {
    width: 90%;
    height: 90%;
  }
  &-Proceed {
    width: 60%;
    height: 60%;
  }
  &-TransferTo {
    width: 70%;
    height: 70%;
    color: $brand-fill !important;
  }
  &-Details {
    &-Forward {
      width: 1.5rem;
      height: 1.5rem;
      color: $brand-fill;
      margin-left: 5px;
    }
    &-Down {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  &-Result {
    &-Check {
      width: 90%;
      height: 90%;
    }
  }
}

.Input {
  &Box {
    $c: &;
    &-Container {
      background-color: $light-background;
      box-shadow: $box-shadow;
      margin-bottom: 20px;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      transition: box-shadow 0.3s ease-in-out;
      border-radius: 4px;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        font-size: 1rem;
        width: 100%;
      }
    }
    &-Label {
      font-size: 0.8rem;
      margin-bottom: 5px;
      color: $input-label;
    }
    &-InputArea {
      display: flex;
      flex-direction: row;
    }
    &-InputArea:focus #{$c}-Container {
      box-shadow: $selected-box-shadow;
    }
    &-Currency {
      margin-right: 0.6rem;
      font-size: 1rem;
    }
  }
  &Dropdown {
    &-Wrapper {
      width: 100%;
      position: relative;
    }
    &-Container {
      position: relative;
      cursor: pointer;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      z-index: 20;
    }
    &-Thumb {
      width: 100%;
    }
    &-Action {
      width: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &-Button {
      background: transparent;
      width: 35px;
      height: 35px;
    }
    &-List {
      position: absolute;
      display: flex;
      width: inherit;
      flex-flow: column wrap;
      height: fit-content;
      background: white;
      top: calc(100% + 10px);
      border-radius: 4px;
      box-shadow: $dropdown-shadow;
      overflow: hidden;
      padding: 5px 0;
      z-index: 21;
      max-height: 50vh;
      overflow: auto;
      ul {
        list-style: none;
      }
      li {
        padding: 15px;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
          background-color: $dropdown-hover;
        }
      }
      &[data-show=true] {
        opacity: 1;
        transition: all 0.1s ease-in-out;
      }
      &[data-show=false] {
        pointer-events: none;
        opacity: 0;
        top: 0;
        transition: all 0.1s ease-in-out;
      }
    }
    &-NoData {
      cursor: not-allowed;
      color: $text-light;
      &:hover {
        background-color: transparent !important;
        cursor: not-allowed;
      }
    }
  }
}

.RangeSlider {
  &-Wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-Item {
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
  }
  &-Thumb {
    width: 8px;
    height: 100%;
    background: $slider-thumb;
    border-radius: 8px;
    &:hover {
      transform: scaleY(1.5) scaleX(1.2);
    }
  }
  &-Track {
    height: 60%;
    background: $slider-track;
    &-0 {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    &-1 {
      background: $slider-track-between;
    }
    &-2 {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}

// Remove arrows for input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Adjustment for main layout
.AIVI {
  &-Page {
    width: 100vw;
    height: 100vh;
    background-color: $base-background;
    display: flex;
    flex-flow: row wrap;
  }
  
  &-Sidebar {
    height: 100%;
    width: $sidebar-width;
    background-color: $brand-fill;
    position: sticky;
    z-index: 1001;
  }

  &-Body {
    width: calc(100% - #{$sidebar-width});
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    position: relative;
  }

  &-Chatbox {
    height: 100%;
    width: 55%;
    padding: 35px;
    &-Mobile {
      &-Model {
        display: none;
      }
      &-Button {
        display: none;
      }
    }
  }

  &-Leftbox {
    height: 100%;
    width: 45%;
    background-color: $light-background;
    padding: 50px 35px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    overflow: hidden;
  }
  &-Logo {
    position: absolute;
  }
}

.Menu {
  &-Wrapper {
    width: 100vw;
    height: 100vh;
    background-color: $darken-background;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0px;
    z-index: 900;
    &[data-visible=true] {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    &[data-visible=false] {
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
  &-Container {
    display: flex;
    flex-flow: column wrap;
    background-color: $light-background;
    position: absolute;
    height: 100vh;
    width: fit-content;
    padding: $menu-padding;
    z-index: 1000;
    &[data-visible=true] {
      left: $sidebar-width;
      transition: left 0.5s ease-in-out;
    }
    &[data-visible=false] {
      left: -50vw;
      transition: left 0.5s ease-in-out;
    }
  }
  &-Logo {
    width: 10rem;
    height: 6rem;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }
  &-Drawer {
    display: flex;
    flex-flow: column wrap;
    padding: 20px 0px;
  }
  &-Button {
    font-size: 1.2rem;
    // color: $foreground-light-color;
    margin-bottom: 10px;
    border-radius: 1.2rem;
  }
}

// Adjustment for chatbox
.Chatbox {
  &-Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
  }
  &-Avatar {
    width: $avatar-dimension;
    height: $avatar-dimension;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    // top: calc($avatar-dimension) / 4;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: $light-background;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-Box {
    width: 100%;
    height: calc(100% - #{$avatar-dimension / 4 * 3});
    background-color: $light-background;
    box-shadow: $box-shadow;
    border-radius: 2px;
    position: absolute;
    top: $avatar-dimension / 2;
    padding: $avatar-dimension 20px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  &-Dialog {
    height: calc(100% - #{$dialog-input-height} - 15px);
    margin-bottom: 10px;
    overflow: overlay;
    padding: 0 20px;
  }
  &-Suggestions {
    height: 3rem;
    // width: 100%;
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
    overflow-y: hidden;
    overflow-x: overlay;
    align-items: center;
    // background-color: $brand-fill;
  }
  &-Input {
    height: fit-content;
    border-top: 1px solid $breakline;
    display: flex;
    align-items: center;
    padding: 10px 0;

    &-UploadOptions, &-Send, &-Audible, &-Smiley {
      width: $icon-button-dimension;
      height: $icon-button-dimension;
      background: $brand-gradient;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    &-Audible, &-Smiley {
      background: none;
    }
    &-Send, &-Audible {
      margin-right: 0;
    }
    &-InputBox {
      font-size: 1rem;
      flex-grow: 1;
      border: none;
      padding: 10px 15px;
      border-radius: 2rem;
      margin-right: 10px;
      resize: none;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: normal;
      &:focus {
        box-shadow: 0 0 4px $brand-fill-test;
      }
    }
  }
}

// Adjustment for leftbox
.Leftbox {
  &-Submitted {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    p {
      font-size: 1.1rem;
      font-weight: 700;
      color: $text-dark;
      text-align: center;
    }
    img {
      margin: 30px 0;
    }
  }
}

.AIVIForm {
  &-Content {
    overflow: auto;
    height: calc(100% - #{$button-area-height});
    width: 100%;
  }
  &-Button {
    height: $button-area-height;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-Title {
    font-size: 1rem;
    color: $text-dark;
    margin-bottom: 20px;
    font-weight: 700;
    padding-left: 25px;
  }
  &-Description {
    font-size: 0.85rem;
    line-height: 1.3rem;
    color: $text-dark;
    padding-left: 25px;
  }
  &-Details {
    font-size: 0.85rem;
    padding: 20px 10px;
    max-height: calc(100% - 120px);
  }
}

.CreditCard {
  &-Content {
    overflow: auto;
    height: calc(100% - #{$button-area-height});
    width: 100%;
  }
  &-Button {
    height: $button-area-height;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Expenses {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0px 15px;
  &-SelectWrapper {
    width: 100%;
    max-width: 500px;
  }
  &-Proceed {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    justify-content: space-around;
    button {
      text-align: center;
      background-color: $light-background;
      border: none;
      color: $text-dark;
      box-shadow: $box-shadow, inset 0px 0px 2px $text-dark;
      padding: 5px 15px;
      border-radius: 30px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:disabled {
        opacity: 0.6;
        box-shadow: $box-shadow;
        transition: all 0.3s ease-in-out;
        cursor: not-allowed;
      }
    }
  }
}

.ExpenseDetails {
  &-Wrapper {
    // background: burlywood;
    width: 100%;
    margin-bottom: 30px;
  }
  &-Title {
    font-size: 1rem;
    color: $text-dark;
    margin-bottom: 10px;
  }
  &-Container {
    background: $light-background;
    border: $imageselect-border;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    box-shadow: $imageselect-shadow;
  }
  &-Item {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &-Input {
    padding: 10px;
    width: 8ch;
    box-shadow: $box-shadow;
    border-radius: 4px;
    text-align: center;
  }
  &-Label {
    font-size: 0.8rem;
    color: $text-dark;
    margin-bottom: 5px;
  }
  &-Slider {
    width: calc(100% - 16ch - 40px - 40px);
  }
}

.MonthlyIncome {
  &-Wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
  }
  &-Container {
    margin-bottom: 40px;
  }
  &-SectionHeader {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  &-SectionTitle {
    font-size: 0.85rem;
    font-weight: 600;
    margin-right: 10px;
    padding-left: 15px;
  }
  &-Action {
    // background: burlywood;
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
  }
  &-AddButton {
    color: $text-dark;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $light-background;
    border: $imageselect-border;
    box-shadow: $imageselect-shadow;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus {
      border: $imageselect-border;
      box-shadow: 0px 0px 7px $brand-fill-test;
    }
    svg {
      transform: rotate(0deg);
      transition: transform 0.15s ease-in-out;
    }
    &:hover svg {
      transform: rotate(90deg);
      transition: transform 0.15s ease-in-out;
    }
  }
  &-RemoveIncome {
    background-color: $slider-thumb;
    border: none;
    color: $light-background;
    outline: none;
    padding: 5px 25px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    &:hover {
      filter: brightness(1.1);
    }
  }
}

.BalanceTransfer {
  &-DualDropdown {
    &-Wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-Item {
      width: 44%;
    }
    &-Arrow {
      width: 50px;
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.ResultPage {
  &-Body {
    display: flex;
    flex: 1 0 calc(100% - #{$sidebar-width});
    flex-flow: column wrap;
    height: 100vh;
  }
  &-TopContent {
    display: flex;
    flex-flow: column wrap;
    flex: 1 0;
    // flex: 1 0 calc(100% - #{$result-bottomContent});
    // height: calc(100% - #{$result-bottomContent});
    overflow: hidden;
    padding: 3.5rem;
  }
  &-BottomContent {
    background: white;
    height: $result-bottomContent;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0px 25px;
    &-Chat {
      border: 1px solid black;
      width: $mobile-chatbox-button;
      height: $mobile-chatbox-button;
      border-radius: 50%;
    }
    &-Description {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      margin-left: auto;
      margin-right: 20px;
      p {
        color: $text-dark;
        line-height: 1rem;
      }
      &-Title {
        font-size: 0.8rem;
        font-weight: 600;
      }
      &-Subtitle {
        font-size: 0.7rem;
      }
    }
    &-Apply {
      background-color: $brand-fill;
      color: $light-background;
      padding: 10px 20px;
      border-radius: 5px;
      &:hover {
        filter: brightness(1.1);
      }
      &:disabled {
        background: $base-background;
        &:hover {
          pointer-events: none;
          cursor: initial;
        }
      }
    }
  }
  &-TopBar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1.5rem;
    &-TitleBar {
      display: flex;
      flex-flow: column wrap;
      flex-grow: 1;
    }
    &-Title {
      font-size: 2rem;
      font-weight: 700;
    }
    &-Subtitle {
      font-size: 0.9rem;
    }
    button {
      background-color: $light-background;
      box-shadow: $box-shadow;
      border-radius: 2rem;
      padding: 10px 25px;
      font-weight: 600;
      display: flex;
      align-items: center;
      img {
        margin-left: 10px;
        height: 1.3rem;
        object-fit: contain;
      }
    }
    & > * {
      margin-right: 20px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  &-Content {
    display: flex;
    flex: 1 0;
    flex-flow: row wrap;
    padding: 0px 1.5rem;
    overflow: auto;
    &-Column {
      flex: 1 0;
      padding: 20px;
    }
    &-Seperator {
      background: #0000000F;
      width: 1px;
      border-radius: 50%;
    }
    &-Title {
      padding-bottom: 10px;
      color: $text-dark;
    }
    &-Col {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      flex: 1 0;
      overflow: auto;
    }
  }
}

.LoanItem {
  &-Wrapper {
    background: $light-background;
    flex-grow: 1;
    margin-bottom: 20px;
    padding: 40px 40px 20px;
    box-shadow: $box-shadow;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    max-width: 800px;
    position: relative;
    &:after {
      content: '';
      border-radius: 8px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      pointer-events: none;
      opacity: 0;
      box-shadow: inset 0px 0px 1px 3px $brand-fill;
      transition: opacity 0.2s ease-in-out;
    }
    &[data-selected=true]:after {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
  }
  &-Content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
  }
  &-Bank {
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    margin-right: 50px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  &-Detail {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0;
    // max-width: calc(100% - 300px);
    &-Item {
      width: 180px;
      margin-bottom: 15px;
      margin-right: 20px;
      &-Label {
        font-size: 1rem;
        color: $text-dark;
        line-height: 1.5rem;
      }
      &-Content {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
  &-Action {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

.ModalContent {
  &-CreditCardResult {
    &-Section {
      height: 100%;
      max-height: 78vh;
      overflow: auto;
    }
    &-Container {
      margin-bottom: 20px;
    }
    &-Title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &-Content {
      min-height: 50px;
      display: flex;
      padding: 5px 10ch;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
    }
    &-Action {
      height: 4rem;
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      &-Cancel {
        padding: 5px 15px;
        text-decoration: underline rgba(0, 0, 0, 0.3);
        margin-right: 25px;
      }
      &-Confirm {
        background: $brand-gradient;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        &:hover {
          filter: brightness(1.1);
          .Icon {
            animation: zoom-in-out 0.6s ease-in-out;
          }
        }
      }
    }
    &[data-visible=false] {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease-in-out;
    }
  }
}

.Pages-Red-Button {
  background: #D43A4C;
  border-radius: 4px;
  padding: 10px;
  color: #FFFFFF;
}

.CardResult {
  &-Wrapper {
    background-color: $light-background;
    padding: 20px 20px 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 2%;
    margin-top: 2%;
    box-shadow: $box-shadow;
    position: relative;
    &:after {
      content: '';
      border-radius: 8px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      pointer-events: none;
      opacity: 0;
      box-shadow: inset 0px 0px 1px 3px $brand-fill;
      transition: opacity 0.2s ease-in-out;
    }
    &[data-selected=true]:after {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
  }
  &-Main {
    display: flex;
    flex-flow: row wrap;
  }
  &-GroupTitle {
    background: #FAFAFA;
    height: 39.4px;
    vertical-align: middle;
    border: 1px solid #F1F1F1;
    font-size: 20px;
  }
  &-GroupBody {
    border: 1px solid #F1F1F1;
  }
  &-GroupPadding {
    padding: 40px;
  }
  &-Card {
    display: flex;
    flex-flow: column wrap;
    margin-right: 25px;
    position: relative;
    &-Image {
      width: 165px;
      height: 100px;
      margin-bottom: 10px;
      object-fit: contain;
      object-position: left;
      background: #EEE;
      transition: transform 0.5s ease-in-out;
      position: relative;
    }
    &-Name {
      font-size: 0.9rem;
    }
    &-Selected {
      width: 165px;
      height: 100px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF77;
      transition: opacity 0.3s ease-in-out;
      pointer-events: none;
      &[data-selected=false] {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
  &-Details {
    display: flex;
    flex: 1 0;
    flex-flow: row wrap;
    padding-top: 1rem;
    &-TotalCollection, &-Period, &-Rewards {
      display: flex;
      flex-flow: column wrap;
    }
    &-Label {
      color: $text-light;
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
    &-Data {
      font-size: 1.3rem;
      font-weight: 600;
      span {
        font-size: 0.8rem;
        font-weight: 400;
        margin-left: 5px;
      }
    }
    &-TotalCollection {
      margin-right: 4%;
      margin-bottom: 20px;
      flex: 1 0 60%;
    }
    &-Period  {
      flex: 1 0 36%;
    }
    &-Rewards {
      & > div {
        display: flex;
        flex-flow: row wrap;
        & > div {
          width: 60px;
          height: 60px;
          border: 1px solid #EFEFEF;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;
        }
      }
    }
  }
  &-CardAction {
    display: flex;
    margin-top: 10px;
    position: relative;
    justify-content: center;
    &-ViewDetails {
      position: absolute;
      right: 0px;
      display: flex;
      align-items: center;
      font-size: 0.7rem;
      &:hover {
        animation: button-blink 1s infinite ease-in-out;
        .Icon {
          animation: tabbar-proceed-hover 1s infinite ease-in-out;
        }
      }
    }
    &-Expand {
      padding: 2px 20px;
      &[data-expanded=true] .Icon {
        transform: rotate(180deg);
      }
    }
  }
  &-CardDetails {
    background: #FAFAFA;
    border: 1px solid #F1F1F1;
    margin-top: 20px;
    &-Container {
      display: flex;
      flex-flow: row wrap;
      overflow: hidden;
      padding-left: 20px;
      &[data-expanded=false] {
        max-height: 0px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      &[data-expanded=true] {
        max-height: 10rem;
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
      &-Category {
        display: flex;
        flex: 1 0 50%;
        padding-right: 60px;
        flex-flow: column wrap;
        &-Content {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
        }
        &-Icon {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: $base-background;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &-Title {
          font-size: 0.9rem;
          margin-bottom: 0.3rem;
        }
        &-Points {
          font-size: 1.2rem;
          font-weight: 600;
          span {
            font-size: 0.75rem;
          }
        }
        &-UnitPoint {
          color: $text-dark;
          font-size: 0.65rem;
          span {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  &-Returns {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    &[data-expanded=false] {
      max-height: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
    &[data-expanded=true] {
      max-height: 100vh;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    &-Category {
      margin-top: 20px;
      padding-right: 65px;
      margin-bottom: 5px;

      &-Content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }
      &-Icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $base-background;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-Title {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
      }
      &-Points {
        font-size: 1.2rem;
        font-weight: 600;
        span {
          font-size: 0.75rem;
        }
      }
      &-UnitPoint {
        color: $text-dark;
        font-size: 0.65rem;
        span {
          font-size: 0.75rem;
        }
      }
    }
  }
  &-Tooltip {
    &-Image {
      width: 200px;
      height: 110px;
      background: $brand-fill;
      margin: 10px 0px;
    }
    &-Container {
      width: 200px;
      display: flex;
      flex-flow: row wrap;
      p {
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
      & > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.TabBar {
  &-Header {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    list-style: none;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    overflow: auto;
    scrollbar-color: transparent transparent !important;
    position: sticky;
    top: 0px;
    z-index: 500;
    background-color: $light-background;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      padding: 15px 5px;
      font-size: 0.9rem;
      width: 15ch;
      cursor: pointer;
      height: fit-content;
      color: $inactive;
      transition: all 0.2s ease-in-out;
      flex-shrink: 0;
      &[data-active=true] {
        // border-bottom: 2px inset $brand-fill;
        box-shadow: inset 0px -3px 0px 0px $brand-fill;
        color: black;
        transition: all 0.2s ease-in-out;
      }
      &[data-enabled=true] {
        color: black;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-Body {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
    overflow: hidden;
    &-Item {
      width: 100%;
      flex-shrink: 0;
      padding: 5px;
      overflow: auto;
      margin-right: 100px;
    }
  }
  &-ProgressAction {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 20px;
    &-Proceed {
      background-color: $brand-fill;
      height: $tabbar-proceed-dimension;
      width: $tabbar-proceed-dimension;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      margin-left: auto;
      &:hover {
        svg {
          animation: tabbar-proceed-hover 1s infinite ease-in-out;
        }
      }
      // &:focus {
      //   border: none;
      //   outline: none;
      // }
    }
  }
}

.Checkbox {
  &-Multiple {
    display: flex;
    flex-flow: row wrap;
  }
  &-Container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    cursor: pointer;
    color: $text-light;
    height: 100%;
    &[data-rows="1"] {
      width: 100%;
      margin-bottom: 20px;
    }
    &[data-rows="2"] {
      width: 40%;
      &:nth-child(2n-1) {
        margin-right: 8%;
        margin-bottom: 20px;
      }
    }
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &-Indicator {
    width: $checkbox-indicator-dimension;
    height: $checkbox-indicator-dimension;
    // background: burlywood;
    margin-right: 15px;
    border-radius: $checkbox-indicator-dimension / 5;
    // border: 1px solid $base-background;
    box-shadow: inset 0px 0px 0px 1px $base-background;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-in-out;
  }
  &-Container:hover {
    color: $text-dark;
    .Checkbox {
      &-Indicator {
        box-shadow: inset 0px 0px 0px 1px $text-light;
        transition: all 0.15s ease-in-out;
      }
    }
  }
  &-Container[data-active=true] {
    // background: burlywood;
    color: black;
    .Checkbox {
      &-Indicator {
        background-color: $brand-fill;
        box-shadow: none;
        transition: all 0.15s ease-in-out;
      }
    }
    .Icon {
      animation: tick-zoom 0.3s ease-in-out;
    }
  }
  &-Limit {
    margin-top: 10px;
    color: $text-light;
  }
}

.ImageSelect {
  &-Multiple {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    // height: max-content;
    width: max-content;
    max-width: 100%;
    justify-content: center;
  }
  &-Wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.85rem;
    color: $text-dark;
    width: 14ch;
    height: 120px;
    background: $light-background;
    border: $imageselect-border;
    border-radius: 10px;
    box-shadow: $imageselect-shadow;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    // &:nth-child(3n) {
    //   margin-right: 0;
    // }
    // &:nth-child(3n-2) {
    //   margin-bottom: 15px;
    // }
    &:hover {
      .ImageSelect {
        &-ImageContainer {
          img {
            animation: imageselect-image-hover 1s ease-in-out;
          }
        }
      }
    }
    &[data-active=true] {
      border: $imageselect-border-active;
      .ImageSelect {
        &-ImageContainer {
          background-color: $brand-fill;
          transition: background-color 0.3s ease-in-out;
          img {
            filter: grayscale(100%) brightness(1.9);
            transition: filter 0.3s ease-in-out;
          }
        }
      }
    }
  }
  &-ImageContainer {
    width: $imageselect-image-dimension;
    height: $imageselect-image-dimension;
    object-fit: contain;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $imageselect-background;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 7px;
  }
  &-Label { 
    font-size: 0.85rem;
    text-align: center;
  }
}

.ToggleText {
  &-Container {
    margin-bottom: 20px;
    ul {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      overflow: hidden;
      border-radius: 5px;
      height: 3rem;
      background-color: $light-background;
      box-shadow: $box-shadow;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: inset -2px 0px 0px -1px $base-background;
      cursor: pointer;
      flex-grow: 1;
      &:last-child {
        box-shadow: none;
      }
      &[data-active=true] {
        color: $brand-fill;
        font-weight: 500;
      }
      &[data-active=false] {
        color: $text-light;
        font-weight: 500;
      }
    }
  }
}

.ChecklistBox {
  &-Container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    // border: $imageselect-border;
    margin-bottom: 20px;
    background-color: $light-background;
    box-shadow: $box-shadow;
    // box-shadow: $imageselect-shadow;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    &-New {
      border: $imageselect-border;
      box-shadow: $imageselect-shadow;
    }
  }
  &-Checkbox {
    width: 30px;
    height: 30px;
    border-radius: 0.4rem;
    margin-right: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &[data-checked=true] {
      background-color: $brand-fill;
      .Icon {
        animation: tick-zoom 0.3s ease-in-out;
      }
    }
    &[data-checked=false] {
      background-color: $light-background;
      box-shadow: 0px 0px 0px 2px $base-background;
    }
  }
  &-Label {
    color: $text-light;
    font-weight: 300;
    // background: $brand-fill-test;
    padding: 11px 15px;
    width: 40%;
  }
  &-Amount {
    border: 1px solid $text-light;
    border-radius: 0.4rem;
    padding: 10px 15px;
    width: 40%;
    margin-left: auto;
    color: $text-dark;
    display: flex;
    justify-content: space-between;
    input {
      width: calc(100% - 4ch);
      color: $text-dark;
    }
  }
}

.CounterInput {
  &-Wrapper {
    background: $light-background;
    box-shadow: $imageselect-shadow;
    border: $imageselect-border;
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    input {
      border: 1px solid $base-background;
      border-radius: 5px;
      padding: 5px 15px;
      text-align: center;
      width: 40%;
      margin-right: 15px;
    }
    button {
      // background:$brand-fill;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0px 20px;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

.Modal {
  // &-Outside {
  //   background-color: $darken-background;
  //   width: 100%;
  //   height: 100%;
  //   position: fixed;
  //   top: 0px;
  //   transition: opacity 0.5s ease-in-out;
  //   backdrop-filter: blur(5px);
  //   &[data-visible=false] {
  //     opacity: 0;
  //     pointer-events: none;
  //     transition: opacity 0.5s ease-in-out;
  //   }
  // }
  &-Container {
    background-color: $darken-background;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    &[data-visible=false] {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease-in-out;
    }
  }
  &-Wrapper {
    width: 60%;
    height: fit-content;
    background-color: $light-background;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    padding: 3rem 2.5rem 1.5rem;
    overflow: hidden;
  }
}

.SingleInput {
  &-Wrapper {
    // background: $brand-fill;
    width: 100%;
    // padding: 20px;
    & > p {
      margin-bottom: 10px;;
    }
  }
  &-Container {
    background: $light-background;
    width: 100%;
    display: flex;
    padding: 20px;border-radius: 8px;
    border: $imageselect-border;
    box-shadow: $imageselect-shadow;
    &-Input {
      // background-color: $brand-fill;
      width: 100%;
      padding: 5px 15px;
      border: 1px solid $base-background;
      border-radius: 5px;
      p {
        font-size: 1rem;
        display: flex;
        input {
          margin-left: 10px;
          // background: $brand-fill;
          flex-grow: 1;
        }
      }
    }
  }
}

// Adjustment for dialog
.Dialog {
  &-Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    &[data-side='right'] {
      text-align: right;
      align-items: flex-end;
      div {
        border-radius: 8px 0px 8px 8px;
        background: $chat-bubble-user;
        border: 1px solid $chat-bubble-user-border;
        color: $text-dark;
        &:before {
          right: -10px;
          top: -1px;
          border-color: $chat-bubble-user-tail transparent transparent transparent;
          border-width: 10px 10px 0 0;
        }
      }
    }
    &[data-side='left'] {
      text-align: left;
      align-items: flex-start;
      div {
        border-radius: 0 8px 8px;
        background: $chat-bubble-bot;
        color: white;
        &:before {
          left: -10px;
          border-color: transparent $chat-bubble-bot-tail transparent transparent;
          border-width: 0 10px 10px 0;
        }
      }
    }
  }
  &-Bubble {
    max-width: 80%;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 0 8px 8px;
    line-height: 1.5rem;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    &:before {
      content: '';
      display: flex;
      // width: 10px;
      // height: 10px;
      border-style: solid;
      position: absolute;
      // background: burlywood;
      top: 0px;
    }
    p {
      font-size: 1rem;
    }
  }
  &-Timestamp {
    font-size: 0.55rem !important;
    position: relative;
    // margin: 0 10px;
    // color: $text-light;
    // margin-left: auto;
    margin-left: 20px;
    top: 5px;
    width: fit-content;
  }
}

.Temporary {
  &-ChangeRender {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 10px 25px;
    background: $brand-fill;
    border: none;
    border-radius: 50px;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    box-shadow: $box-shadow;
    z-index: 10000;
  }
  &-Sections {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    // &[data-visible="true"] {
    //   display: flex;
    // }
    &[data-visible="false"] {
      display: none;
    }
    ul {
      list-style: none;
    }
    li {
      background: $brand-fill;
      padding: 10px 25px;
      margin-bottom: 10px;
      color: white;
      border-radius: 50px;
      cursor: pointer;
    }
  }
}

@media  (max-width: 900px) {
  // Dimension adjustment
  $sidebar-width: 40px;
  $button-area-height: 65px;
  $icon-button-dimension: 40px;
  $dialog-input-height: 65px;
  $avatar-dimension: 90px;
  $layout-sidebar-adjustment: 50px;
  $mobile-menu-button-translation: 15px;

  // Theme color adjustment
  $brand-fill: #D53A4C;
  $brand-fill-test: #D53A4C66;
  $brand-gradient: linear-gradient(90.54deg, #F25767 0%, #D83445 100%);
  $light-background: #FFFFFF;
  $base-background: #E5E5E5;
  $text-dark: #707C97;
  $text-light: rgba(112, 124, 151, 0.7);
  $shadow: rgba(32, 32, 32, 0.08);
  $breakline: rgba(112, 124, 151, 0.15);
  $icon-light: white;
  $icon-dark: rgba(112, 124, 151, 0.5);
  $input-label: rgba(17, 17, 17, 0.48);

  // Theme standardisation
  $box-shadow: 0 4px 10px $shadow;
  $selected-box-shadow: 0 0 10px $brand-fill-test;

  :root {
    // Root measurement adjustment
    font-size: 14px;
  }

  .AIVI {
    &-Sidebar {
      height: $sidebar-width;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: $mobile-menu-button-translation;
      left: $mobile-menu-button-translation;
      z-index: 20;
    }
    &-Body {
      width: 100%;
    }
    &-Chatbox {
      display: none;
      &-Mobile {
        &-Show {
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
          .Chatbox-Container {
            top: 0;
            transition: top 0.3s ease-in-out;
          }
        }
        &-Hide {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          pointer-events: none;
          .Chatbox-Container {
            top: 100px;
            transition: top 0.3s ease-in-out;
          }
        }
        &-Model {
          display: flex;
          position: absolute;
          width: 100vw;
          height: 100vh;
          background: $darken-background;
          backdrop-filter: blur(5px);
          z-index: 99;
          padding: 30px 20px;
          overflow: hidden;
        }
        &-Button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $brand-gradient;
          width: $mobile-chatbox-button;
          height: $mobile-chatbox-button;
          color: white;
          position: absolute;
          bottom: $mobile-chatbox-button-translation;
          left: $mobile-chatbox-button-translation;
          border-radius: 50%;
          z-index: 100;
          // border: 10px solid white;
        }
      }
    }
    &-Leftbox {
      width: 100%;
      padding: 75px 30px;
    }
  }

  .Leftbox {
    &-Submitted {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .CardResult {
    &-Details {
      display: flex;
      flex: 1 0;
      flex-flow: column wrap;
      padding-top: 1rem;
      &-TotalCollection {
        margin-right: 0;
        margin-bottom: 20px;
        flex: 1;
      }
      &-Period  {
        flex: 1;
        margin-bottom: 20px;
      }
    }
  }
}

@keyframes imageselect-image-hover {
  0% { transform: rotate(0deg) scale(1) }
  10% { transform: rotate(-15deg) scale(1.2) }
  20% { transform: rotate(15deg) scale(1.2) }
  30% { transform: rotate(-15deg) scale(1.2) }
  40% { transform: rotate(15deg) scale(1.2) }
  50% { transform: rotate(0deg) scale(1) }
}

@keyframes tabbar-proceed-hover {
  0% { transform: translateX(0px) }
  10% { transform: translateX(2px) }
  20% { transform: translateX(2px) }
  30% { transform: translateX(0px) }
  40% { transform: translateX(0px) }
  50% { transform: translateX(2px) }
  60% { transform: translateX(2px) }
  80% { transform: translateX(2px) }
  100% { transform: translateX(0px) }
}

@keyframes tick-zoom {
  0% { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}

@keyframes button-blink {
  20% { filter: brightness(1) }
  40% { filter: brightness(2) }
  60% { filter: brightness(2) }
  80% { filter: brightness(1) }
}

@keyframes zoom-in-out {
  20% { transform: scale(1); }
  40% { transform: scale(1.2); }
  50% { transform: scale(1.3); }
  60% { transform: scale(1.2); }
  80% { transform: scale(1); }
}