// Proxima Font Import Adjustment
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Reg.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Sbold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Xbold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Thin-It.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Light-It.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Reg-It.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Sbold-It.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Bold-It.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-weight: 800;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Xbold-It.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/FontsFree-Net-Proxima-Nova-Black-It.otf') format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
